<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'envoi de fichier</title>
</head>

<body>
    <h1>Source</h1>
    <pre>{{ source }}</pre>

    <h1>Résultat</h1>
    <pre>{{ result }}</pre>
</body>

</html>