<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="" method="POST">
        <input type="textarea" name="source" rows="30" cols="40" style="height:50vh; width:100%;" value="{{ defaultSource }}"><br>
        <input type="text" name="model" value="{{ defaultModel }}" style="height:20vh; width:100%;"><br>
        <input type="submit" value="Envoyer" style="height:20vh; width:100%;">
    </form>

</body>

</html>