<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'envoi de fichier</title>
</head>

<body>
    <h1>Envoyer un fichier</h1>
    {# <form action="{{}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Envoyer">
    </form> #}

</body>

</html>